<div class="container">
  @for (eachQuestion of questions; track eachQuestion) {
    <mat-card class="question-card">
      <p>
        @for (part of getParts(eachQuestion.question); track part; let i = $index) {
          <!-- Render non-blank parts (text) -->
          @if (!part.includes('_')) {
            <span>{{ part }}</span>
          }
          <!-- Render input fields for blanks (underscores) -->
          @if (part.includes('_')) {
            <input
              type="text"
              [(ngModel)]="selectedAnswer[eachQuestion.id]"
              [style.width]="(eachQuestion.answer?.length * 1.5) + 'ch'"
              placeholder="Fill in the blank"
              [ngClass]="{
                'correct': answerStatus[eachQuestion.id] === 'correct',
                'incorrect': answerStatus[eachQuestion.id] === 'incorrect',
                'empty': answerStatus[eachQuestion.id] === 'empty'
              }"
              class="input-field"
              />
          }
        }
      </p>
    </mat-card>
  }

  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
