<div class="container">
  <!-- Loop over True/False questions -->
  @for (eachQuestion of questions; track eachQuestion) {
    <mat-card class="question-card">
      <p>
        <span>{{ eachQuestion.question }}</span>
        <!-- True/False Selection -->
        <mat-button-toggle-group [(ngModel)]="selectedAnswer[eachQuestion.id]" aria-label="Select your answer">
          <mat-button-toggle value="true">True</mat-button-toggle>
          <mat-button-toggle value="false">False</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <!-- Show answer status (correct, incorrect, empty) -->
      @if (answerStatus[eachQuestion.id]) {
<div [ngClass]="{
        'correct': answerStatus[eachQuestion.id] === 'correct',
        'incorrect': answerStatus[eachQuestion.id] === 'incorrect',
        'empty': answerStatus[eachQuestion.id] === 'empty'
      }">
          @if (answerStatus[eachQuestion.id] === 'correct') {
            <span>Correct</span>
          }
          @if (answerStatus[eachQuestion.id] === 'incorrect') {
            <span>Incorrect</span>
          }
          @if (answerStatus[eachQuestion.id] === 'empty') {
            <span>Please answer this question!</span>
          }
        </div>
      }
    </mat-card>
  }

  <!-- Display general message if any answer is empty -->
  @if (message) {
    <div class="popup-message">{{ message }}</div>
  }

  <!-- Submit button -->
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
