<div class="quiz-container">
  <h2>Lesson {{ lessonId }} Quiz</h2>

  @for (quiz of quizzes; track quiz) {
    <div class="quiz-item">
      <p><strong>{{ quiz.id }}. {{ quiz.question }}</strong></p>
      <ul>
        @for (option of quiz.options; track option; let i = $index) {
          <li
            [ngClass]="getClass(quiz.id, i)"
            (click)="selectOption(quiz.id, i)"
            >
            {{ option }}
          </li>
        }
      </ul>
    </div>
  }

  <button (click)="submitAnswers()" [disabled]="submitted">
    Submit Answers
  </button>
</div>
